/* HTML */

body {
    background-color: black;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50pt;
    font-weight: bold;
}

/* Navigation */

/* Secondary Nav */
a {
    text-decoration: none;
    color: white;
}
.secNav {
    background-color: E5E5E5;
}