/* HTML */

body {
    background-color: black;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50pt;
    font-weight: bold;
}

.breadcrumbs {
    background-color: #f8f8fd;
}
.indvreview {
    background-color: lightgrey;
    width: 873px;
    height: 300px;
    padding: 50px;
    margin: 20px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50;
}


.filters {
  position:absolute; right:0
}